@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
  @{Html.RenderAction("CommentsPartial");}
</p>
<!--This calls the the method from the CommentsController called CommentsPartial. That method links to the comments in a database and displays them according to the html in a partial view.-->